<h3>Resources and Needs</h3>

<div class="resources">
    {% if resources %}
        <ul>
        {% for resource in resources %}
            <li><a href={% url 'web:resource' resource.id %}>{{ resource.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Resources are available.</p>
    {% endif %}
    <a href={% url 'web:resources' %}>More Resources</a>
</div>

<div class="needs">
    {% if needs %}
        <ul>
        {% for need in needs %}
        <li><a href={% url 'web:need' need.id %}>{{ need.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Needs were communicated.</p>
    {% endif %}
    <a href={% url 'web:needs' %}>More Needs</a>
</div>
