<h3>Needs</h3>

<a href={% url 'web:index' %}>Home</a>

<div class="needs">
    {% if needs %}
        <ul>
        {% for need in needs %}
            <li><a href={% url 'web:need' need.id %}>{{ need.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Needs were communicated.</p>
    {% endif %}
</div>
