<h3>Resources</h3>

<a href={% url 'web:index' %}>Home</a>

<div class="resources">
    {% if resources %}
        <ul>
        {% for resource in resources %}
            <li><a href={% url 'web:resource' resource.id %}>{{ resource.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Resources are available.</p>
    {% endif %}
</div>
